<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css-sb")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Praca magisterska - System wspomagania analizy porównawczej</a>
            </div>
            <!-- /.navbar-header -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="@Url.Action("Index","Home",null)"><i class="fa fa-dashboard fa-fw"></i>Strona główna</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Create","Analiza",null)"><i class="fa fa-bar-chart-o fa-fw"></i>Przeprowadź porównanie</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index","Analiza",null)"><i class="fa fa-table fa-fw"></i>Historia</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-wrench fa-fw"></i> Konfiguracja analizy<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    @Html.ActionLink("Dodaj portal", "Index", "Portals")
                                </li>
                                <li>
                                    @Html.ActionLink("Dodaj kryteria", "Index", "Kryterium")
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            @RenderBody()
        </div>
        <!-- /#page-wrapper -->

    </div>

    <!-- Morris Charts JavaScript -->
    @Scripts.Render("~/Content/js-sb")
    @RenderSection("scripts", required: false)
</body>
</html>
