@model MGRAnalysisHelper.Models.Portal

@{
    ViewBag.Title = "Details";
}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Portal</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Szczegóły portalu
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div>
                    <h4>Portal</h4>
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Nazwa)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Nazwa)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Opis)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Opis)
                        </dd>

                    </dl>
                </div>
                <!-- /.table-responsive -->
            </div>
            <div class="panel-footer">
                <p>
                    @Html.ActionLink("Edytuj", "Edit", new { id = Model.ID }) |
                    @Html.ActionLink("Wróć do listy", "Index")
                </p>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>


