@model IEnumerable<MGRAnalysisHelper.Models.Portal>

@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Dodaj system</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                @Html.ActionLink("Create New", "Create")
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Nazwa)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Opis)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nazwa)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Opis)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                            </td>
                        </tr>
                    }

                </table>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>

